/* Import Source Sans font from Google Fonts (you can adjust the link if you're using a different source) */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap');

/* Apply Source Sans font to the body text */
body {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: rgb(249, 249, 249);
}

h1 {
    color: #1E1E1E;
    font-size: 4em;
    font-weight: bolder;
    text-align: center;
}

.request-div {
    padding: 50px;
    margin: 5vh 10vw;
    border-radius: 20px;
    box-shadow: 5px 5px 7px rgb(243, 243, 243), -5px -5px 7px rgb(255, 255, 255);
}

.dropdown {
    margin-bottom: 10px;
}